/* .App {
  text-align: center;
}

* {
  font-family: "Poppins", cursive;
  color: #5500a3;
}

body {
  background-color: azure;
}

.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-bar ul {
  display: flex;
  align-items: center;
}

.nav-bar li {
  display: inline-block;
  margin: 0 0.6vw;
}

.navbar-logo {
  width: 2.8vw;
}

button {
  background-color: #ffcc00;
  border: 3px solid #5500a3;
  border-radius: 12px;
  padding: 0.1vw 1vw;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: 600;
  transition: 200ms ease-in-out;
}

button:hover {
  background-color: #5500a3;
  border: 3px solid #ffcc00;
  color: #ffcc00;
}

.navbar-info-button {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
  transition: 200ms ease-in-out;
  display: flex;
  align-items: center;
}

.navbar-info-button:hover {
  color: #5500a3;
} */
